
<section class="SLIDER">    

  <div class="principal">
    <div class="letrero"><h3 class="title-products">Personalizados full color</h3> </div>
    <div class="secondary">
    <div class="slider-img"><app-slider></app-slider></div>
    <div class="terceario">
      <p class="text-promo">
        Somos tu mejor opcion en merchandising de articulos publicitarios<br>
        Descarga nuestro catalago y mantente activo a nuestras promociones</p>
        <div class="boton-catalago">
           <a href="https://wa.me/p/5761676263893226/51912346852" class="text-catalago">Descargar catalago</a>
        </div>
        <img class="img-promo" src="assets/images/promociona.jpg" alt="" srcset="">
    </div>
    </div>
  </div>
  </section>

<section class="all-products">
 <div class="title-maquinas"><h3 class="title-productss">TE VENDEMOS MAQUINAS PARA LA SUBLIMACION</h3></div>

    <div class="bg_cart">
        <div class="product" *ngFor="let product of products">
          <img class="imagen" src="assets/product_images/{{product.image}}">
          <h2 class="title-producto" >{{product.name}}</h2>
          <h3 class="cod" >{{product.weight}}</h3>
          <h3 class="precio"><strong></strong>{{product.price}} c/u dolares</h3>
          <i class="material-icons add_shopping_cart" (click)="addToCart(product)">agregar al carrito</i>
        </div>
    </div>
 </section>